$container-width: 80%;

$navbar-bg: rgba(255, 255, 255, 0.05) !important;
$navbar-color: rgba(0, 0, 0, 0.8) !important;
$navbar-font-size: 13px;

$text-size: 14px;

$blur-bg-filter: blur(60px) !important;
$blur-bg-filter-safari: blur(33px) !important;