// Paleta de colores
$primary-color:   #13293D;
$secondary-color: #2A628F;
$background-color:#E4F4FF;
$black-color:      #141414;
$white-color:     #FDFDFD;
$highlight-color: #CEFF1A;

// Fuentes (tamaños, estilos, etc.)
$text-size: 14px;

// Tamaño de elementos
$container-width: 80%;

// Navbar
$navbar-font-size: 13px;
$navbar-bg: rgba(19, 41, 61, 1);

// Efectos
$blur-bg-filter: blur(60px) !important;
$blur-bg-filter-safari: blur(33px) !important;