* {
    margin: 0;
    padding: 0;
    display: inline-block;
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
}

body > header {
    width: 100%;
}

#load-more-products > button {
    position: absolute;
    align-self: center;
    right: 45%;
}

#load-more-products {
    margin: 3rem 1rem;
}

header > nav {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#bottom_header > ul {
    display: flex;
    justify-content: center;
    gap: 3rem;
    padding-top: 1rem;
}

#bottom_header > ul > li > a {
    text-decoration: none;
    color: black;
    font-weight: 500;

    transition: 0.2s ease;
}

#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 1rem;
}

#bottom_header > ul > li > a:hover {
    color: gold;
    text-decoration: dashed;
}

#bottom_header > div > input {
    position: absolute;
    right: 20px;
    top: 118px;
}

#top_header {
    position: static;
}

#top_header > img {
    display: block;
    width: 110px;
    margin-left: auto;
    margin-right: auto;
}

main {
    width: 100%;
}

main > div {
    width: 100%;

}

main > aside {
    grid-area: aside;
}

.list-group {
    display: flex;
    flex-direction: column;
    height: 10rem;

    padding: 1rem 8rem 1rem 2rem;
}

.list-group > ul > li > a {
    text-decoration: none;
    color: black;
}

.list-group > ul > li > a:hover {
    color: gold;
    text-decoration: dashed;
}

.list-group > ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-left: 1rem;
    padding-top: 1rem;
}

aside {
    position: absolute;
}

section {
    position: absolute;
    margin-left: 20rem;
}

#product-listing {
    width: 100%;
}

#product-listing > li {
    width: 100%;
}

#product-listing > li > article {
    width: 18rem;
    margin: 0rem 0rem 0rem 0rem;
    float: left;
}

.item-details {
    display: flex;
    flex-direction: column;
}

.product-name {
    font-weight: bold;
}

img {
    width: 100%;
}

#products-filter {
    padding: 1rem;
    background-color: lightgray;
    font-weight: 500;
    position: sticky;
    top: 0;
}


main > div > section {
    display: flex;
    flex-direction: column;
    padding: 1rem 0rem;
}

section {
    width: calc(100% - 20rem);
}

section > ul > li > article {
    width: 100%;
}

article > .image-container {
    width: 100%;
}

article > .item-details {
    width: 100%;
}

main > div {
    grid-area: div;
}

footer {
    margin-top: 230vh;
    grid-area: footer;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    text-align: center;
}

footer > ul {
    display: flex;
    flex-direction: column;
}

@media (max-width: 620px) {
    #product-listing > li {
        display: flex;
        flex-direction: column;
    }

    #product-listing > li > article > div > a {
        width: 100%;
    }
}

@media (max-width: 920px) {
    main > div {
        display: flex;
        flex-direction: column;
    }

    main > div > aside {
        text-align: center;
        padding: 0;
    }

    .list-group {
        padding: 0;
        padding-top: 1rem;
    }

    .list-group > ul {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 2rem;
        flex-direction: row;
        padding: 0;
        padding-top: 1rem;
    }

    section > div {
        padding: 1rem 1rem;
        text-align: center;
    }

    #products-filter {
        text-align: center;
    }

    #bottom_header > div > input {
        position: inherit;
        margin-top: 1rem;
    }

    #bottom_header > ul {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 1.5rem;
    }
}
