canvas {
    border: 1px solid white;
}

body {
    display: grid;
    place-content: center;
    height: 100vh;
    background-color: #222;
}


#parar {
    background-color: #f00;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.2em;
    margin: 10px;
    cursor: pointer;
}

#parar:hover {
    background-color: #c00;
}

#reanudar {
    background-color: #0f0;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.2em;
    margin: 10px;
    cursor: pointer;
}

#reanudar:hover {
    background-color: #0c0;
}

#velocidad {
    background-color: yellow;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.2em;
    margin: 10px;
    cursor: pointer;
}

#velocidad:hover {
    background-color: #ff0;
}