@font-face {
    font-family: "Helvetica";
    src: url("fonts/Helvetica/Helvetica.ttf");
}

@font-face {
    font-family: "SF Mono";
    src: url("fonSts/FMono/SFMono-Bold.otf") format("opentype");
}

* {
    font-family: "Inter";
}

.bg-body {
    background-color: #FDFDFD !important;
}

i {
    font-size: 1.7rem;
}

.buttons-sect>i {
    font-size: 3rem;
}

.heading,
.search {
    color: #141414;
}

.border-bottom,
.border-top,
.border-end,
.border-start,
.border {
    border-color: #13293d !important;
}

.button {
    border: 2px solid #13293d;
    color: #141414;
    background-color: #CEFF1A;
    font-weight: bold;
    font-size: 1.2rem;
}

footer {
    padding: 0 !important;
}

footer>.border-bottom {
    border-color: #2e455a !important;
}

.navbar,
.hero,
.socials>p,
footer {
    background-color: #13293d !important;
    color: #E4F4FF !important;
}

p,
h1 {
    font-family: "Helvetica" !important;
    color: #141414;
}

.art-image-sm,
.img {
    background-image: url("https://source.unsplash.com/random");
    background-position: center;
}

.username-text {
    color: #1f1f1f;
    margin-bottom: 1px !important;
}

.text-muted {
    color: #5c5c5c !important;
}

.display-1 {
    font-family: "SF Mono" !important;
    color: #FDFDFD !important;
    letter-spacing: -5px;
}

.trend-article>p.text-muted {
    font-size: 0.9rem;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Helvetica" !important;
    font-weight: bold;
}

.display-2,
.display-5 {
    font-family: "Helvetica" !important;
    font-weight: bold;
}

.art-nav-s>p {
    font-size: 0.9rem;
}

.texto-etiquetas,
.art-destacado,
.art {
    color: #141414 !important;
}

.etiqueta {
    background-color: rgb(221, 221, 221);
    color: #141414;
}

.copy>p,
.politicas>p {
    color: #b4ddf8 !important;
}